<div class="container-fluid collapse navbar-collapse" uib-collapse="parentData.navbarCollapsed">
	<div class="btn-group-vertical" role="group">
		<button class="btn btn-primary">Dashboard</button>
		<button class="btn btn-default">Saved Applications</button>
		<button class="btn btn-default">Submitted Applications</button>
		<button class="btn btn-default">Assigned Applications</button>
		<button class="btn btn-default">New Application</button>
	</div>
	<br/><br/><br/><br/>
	<!-- Show only if new application started or editing any one -->
	<div class="btn-group-vertical" role="group" >
		<button class="btn btn-default" ui-sref="step1">Step 1</button>
		<button class="btn btn-default">Step 2</button>
		<button class="btn btn-default">Step 3</button>
		<button class="btn btn-default">Step 4</button>
		<button class="btn btn-default">Step 5</button>
		<button class="btn btn-default">Step 6</button>
	</div>
</div>