<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="parentData.navbarCollapsed = !parentData.navbarCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="/images/Bharat_venture_final_logo_Transparent_3.png" alt="Bharat Ventures"> Bharat Ventures
    </a>
  </div>
  <div class="collapse navbar-collapse" uib-collapse="parentData.navbarCollapsed">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Save &amp; Preview</a></li>
      <li><a href="#">Save</a></li>
      <li><a href="#">Submit</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>
